<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Are You Sure Modal Warning: </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to cancel your changes
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="cancelButton" (click)="hideChildModal()">Keep changes</button>
        <button type="submit" class="btn btn-danger" id="continueButton">Reset Form</button>

      </div>
    </div>
  </div>
</div>