<!-- Custom Tabs -->
<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_1" data-toggle="tab">tab 1</a></li>
		<li><a href="#tab_2" data-toggle="tab">tab 2</a></li>
		<li><a href="#tab_3" data-toggle="tab">tab 3</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Action <span class="caret"></span>
                </a>
			<ul class="dropdown-menu">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">#</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			</ul>
		</li>
		<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
	</ul>
	<div class="tab-content">
		<!-- /.tab-pane -->
		<div class="tab-pane active" id="tab_1">
			1
		</div>
		<!-- /.tab-pane -->
		<div class="tab-pane" id="tab_2">
			2
		</div>
		<!-- /.tab-pane -->
		<div class="tab-pane" id="tab_3">
			3
		</div>
		<!-- /.tab-content -->
	</div>
</div>
<!-- nav-tabs-custom -->