<ang2-crm-sidebarnav>sidenav bar loading...</ang2-crm-sidebarnav>
<ang2-crm-headerbar>headerbar loading...</ang2-crm-headerbar>
<ang2-crm-maincontentcontainer>ang2-crm-maincontentcontainer loading</ang2-crm-maincontentcontainer>
<ang2-crm-footerbar>footer bar loading...</ang2-crm-footerbar>


<!-- jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    /*
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    */
</script>
