<a href="#">
<!-- /.info-box -->
<div class="info-box bg-navy">
  <span class="info-box-icon"><i class="fa fa-database"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">Database Size</span>
    <span class="info-box-number">520 MB</span>

    <div class="progress">
      <div class="progress-bar" style="width: 1%"></div>
    </div>
        <span class="progress-description">
          520 MB / 930 GB (database size out of disk capacity). 474 GB Free Space.          
        </span>
  </div>  
</div>
<!-- /.info-box-content -->
</a>