<!-- Modal -->
<div class="modal fade" id="modalQuickEditDataMgmt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
				<h4 class="modal-title" id="myModalLabel">
					Quick Edit - Tags
				</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
        <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()" #linkForm="ngForm">				
					<!-- Input addon -->
					<div class="box box-info">
						<div class="box-header with-border">							
						</div>
						<div class="box-body">
              <div class="row">
								<div class="col-md-6">
                  <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox">
                        </span>
                    <input type="text" class="form-control" value="Active" name="formISACTIVE" readonly>
                  </div>									
								</div>

								<div class="col-md-6">
                  <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox">
                        </span>
                    <input type="text" class="form-control" value="Deleted" name="formISDELETED" readonly>
                  </div>									
								</div>
							</div>
							<br />

							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<span class="input-group-addon">Code</span>
										<input type="text" class="form-control" placeholder="Code" [value]="i_DataTAG" name="formTAG">
									</div>
								</div>
							</div>
							<br />

							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<span class="input-group-addon">Description<br />( / 512):</span>
                    
                    <textarea class="form-control" rows="3" name="formDESCRIPTION"
                      placeholder="A brief description..." >{{ formDESCRIPTION }}</textarea>
									</div>
								</div>
							</div>
              <br />					

							<div class="row">
								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Created:</span>
										<input type="text" class="form-control" placeholder="Created Date" [value]="CREATEDvalue" name="formCREATED" readonly>
									</div>
								</div>

								<div class="col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Modified:</span>
										<input type="text" class="form-control" placeholder="Modified Date" name="formMODIFIED" readonly>
									</div>
								</div>
							</div>
							<!-- /input-group -->
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</form>
			</div>

			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
				<button type="button" class="btn btn-primary">
                    Save changes
                </button>
			</div>
		</div>
	</div>
</div>