<!-- <div class="headerbar col-lg-12" style="border:2px solid black; ">
    <div class="headerbarleftwidgets col-md-8" style="border:2px solid black; ">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> | Menu1 | Menu 2
    </div>
    <div class="headerbarprofilewidget col-md-4" style="border:2px solid black; ">
        Hello, Johnny
    </div>
</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Angular 2 CRM</a>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <li><div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="status-navbar-collapse-1">
                          <span class="caret"></span>State
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-phone"></i> On Call</a></li>
                          <li><a href="#"><i class="fa fa-comments-o"></i> In Meeting</a></li>
                          <li><a href="#"><i class="fa fa-rocket"></i> Working on Project</a></li>
                        </ul>
            </div>
        </li>
              

      </ul>
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">Search</button>
             </span>
           </div>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i><sup style="font-size: 10px;"><span class="label label-success">4</span></sup><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">X New Messages</a></li>            
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['listprojects']">View Task List</a></li>
            <li><a [routerLink]="['projectdashboard']">Projects Dashboard</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">X New Tasks</a></li>
            <li><a href="#">Y Tasks Due</a></li>
            <li><a href="#">Z Tasks Late</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">Create Task (Full)</a></li>
            <li><a (click)="onClick()" data-toggle="modal" data-target="#modalCreateTask">Create Task (Quick)</a></li>
            
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create an Alert</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Create Callback" class="dropdown-toggle" data-toggle="modal" data-target="#modalCreateCallback" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-phone"></i></a>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Go to Appointment Book" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar"></i><span class="caret"></span></a>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Quick Sale" class="dropdown-toggle" data-toggle="modal" data-target="#modalQuickSale" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-dollar"></i><span class="caret"></span></a>
        </li>  
        <li class="dropdown">
          <a (click)="onClick()" title="Bookmarks" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark-o"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Go To Bookmarks</a></li>
            <li><a (click)="onClick()" title="Create Callback" class="dropdown-toggle" data-toggle="modal" data-target="#modalSaveLink" role="button" aria-haspopup="true" aria-expanded="false">Save a Link</a></li>
          </ul>
        </li>      
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clock-o"></i> {{ currentDateTime | date:'EEE MMM d, h:mm:ss a' }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | date:'EEE MMM d, h:mm:ss a' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | date:'EEE MMM d, h:mm:ss a' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">Add Another Time Zone</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hello, {{ currentUserName }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#menu-toggle" id="menu-toggle">Toggle Sidebar</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="LogOut()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ang2-crm-create-task-quick></ang2-crm-create-task-quick>
<ang2-crm-create-callback></ang2-crm-create-callback>
<ang2-crm-quick-sale></ang2-crm-quick-sale>
<ang2-crm-save-link></ang2-crm-save-link>