<header class="main-header">
  <!-- Logo -->
  <a href="../../index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>2</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Angular2</b>CRM</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a (click)="ToggleNavBar()" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Time widget -->
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clock-o"></i> {{ currentDateTime | timedate: 'short' }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'medium' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'long' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'extralong' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">Add Another Time Zone</a></li>
          </ul>
        </li>

        <!-- Tasks: style can be found in dropdown.less -->
        <li class="dropdown tasks-menu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-check-square"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have 9 tasks
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li><a [routerLink]="['listprojects']">View Task List</a></li>
                <li><a [routerLink]="['projectdashboard']">Projects Dashboard</a></li>
                <li><a href="#">X New Tasks</a></li>
                <li><a href="#">Create Task (Full)</a></li>
                <li><a (click)="onClick()" data-toggle="modal" data-target="#modalCreateTask">Create Task (Quick)</a></li>
                <!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>

        <!-- Notifications: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have 10 notifications
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li><a href="#"><i class="fa fa-coffee"></i>Water Cooler Talk</a></li>
            <li><a href="#"><i class="fa fa-comment-o"></i>Conversations</a></li>
            <li><a href="#"><i class="fa fa-bell-o"></i>Create an Alert</a></li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>


        <!-- Callbacks: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-phone"></i>
              <span class="label label-warning">3</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have 3 callbacks
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-phone text-aqua"></i> 3 callbacks
                    </a>
                </li>
                <li><a (click)="onClick()" data-toggle="modal" data-target="#modalCreateCallback"><i class="fa fa-phone"></i>Create a Callback</a></li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- Appointment Book: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-calendar"></i>
              <span class="label label-warning">1</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have 1 appointment
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-calendar"></i> 1 appointment today
                    </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- Sales: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a (click)="onClick()" data-toggle="modal" data-target="#modalQuickSale">
              <i class="fa fa-dollar"></i>
            </a>
        </li>
        <!-- Bookmarks: style can be found in dropdown.less -->
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bookmark-o"></i>

            </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have created 123 bookmarks
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a href="#">
                      <i class="fa fa-bookmark-o"></i> 5 new bookmarks created today
                    </a>
                </li>
                <li>
                  <a (click)="onClick()" data-toggle="modal" data-target="#modalSaveLink">
                    <i class="fa fa-bookmark-o"></i> Create a new Bookmark
                  </a>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          <ul class="dropdown-menu">
            <li class="header">
              You have 4 messages
              <span class="pull-right"><i class="fa fa-refresh"></i></span>
            </li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="/assets/sampleimages/Yoda160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <!-- end message -->
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        
        
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/assets/sampleimages/Yoda160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">The Yoda</span>
            </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="/assets/sampleimages/Yoda160.jpg" class="img-circle" alt="User Image">

              <p>
                The Yoda - Admin
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">asdf</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a (click)="onClick()" data-toggle="modal" data-target="#modalCookieContents">Cookie</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Personal Settings</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <!--
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
        -->
      </ul>
    </div>
  </nav>
</header>

<ang2-crm-create-task-quick></ang2-crm-create-task-quick>
<ang2-crm-create-callback></ang2-crm-create-callback>
<ang2-crm-quick-sale></ang2-crm-quick-sale>
<ang2-crm-save-link></ang2-crm-save-link>
<ang2-crm-cookie-contents></ang2-crm-cookie-contents>

<!--
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>


    <div class="collapse navbar-collapse" style="padding:0px;" >
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i><sup style="font-size: 10px;"><span class="label label-success">4</span></sup><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">X New Messages</a></li>            
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-check-square"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['listprojects']">View Task List</a></li>
            <li><a [routerLink]="['projectdashboard']">Projects Dashboard</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">X New Tasks</a></li>
            <li><a href="#">Y Tasks Due</a></li>
            <li><a href="#">Z Tasks Late</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">Create Task (Full)</a></li>
            <li><a (click)="onClick()" data-toggle="modal" data-target="#modalCreateTask">Create Task (Quick)</a></li>
            
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-comment-o"></i>Conversations</a></li>
            <li><a href="#">Create an Alert</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Create Callback" class="dropdown-toggle"
           data-toggle="modal" data-target="#modalCreateCallback" role="button" 
           aria-haspopup="true" aria-expanded="false"><i class="fa fa-phone"></i></a>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Go to Appointment Book" 
          class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar"></i><span class="caret"></span></a>
        </li>
        <li class="dropdown">
          <a (click)="onClick()" title="Quick Sale" class="dropdown-toggle" 
          data-toggle="modal" data-target="#modalQuickSale" role="button" 
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-dollar"></i><span class="caret"></span></a>
        </li>  
        <li class="dropdown">
          <a (click)="onClick()" title="Bookmarks" 
          class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark-o"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Go To Bookmarks</a></li>
            <li><a (click)="onClick()" title="Create Callback" class="dropdown-toggle" data-toggle="modal" data-target="#modalSaveLink" role="button" aria-haspopup="true" aria-expanded="false">Save a Link</a></li>
          </ul>
        </li>      
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-clock-o"></i> {{ currentDateTime | timedate: 'short' }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'medium' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'long' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">{{ currentDateTime | timedate: 'extralong' }}</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">Add Another Time Zone</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hello, {{ currentUserName }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="ToggleSidebar()" data-toggle="push-menu" role="button">Toggle Sidebar</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a (click)="onClick()" title="Get Cookie Contents" class="dropdown-toggle" data-toggle="modal" data-target="#modalCookieContents" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-copyright"></i>Cookie Contents</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="LogOut()">Log Out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Current JWT expires:<br /> {{ currentTokenExpiry }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Change this to state menu (In Meeting, On Call, Working on Project)</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


-->