<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/sampleimages/Yoda160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>The Yoda</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a [routerLink]="['home']">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>         
        </li>
        <li class="treeview">
            <a [routerLink]="['styleguide']">
                <i class="fa fa-eye"></i> <span>Style Guide</span>
            </a>
        </li>
        <li class="treeview">
            <a [routerLink]="['upgradenotes']">
                <i class="fa fa-shield"></i> <span>Upgrade Notes</span>
            </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-circle-o"></i> <span>Programming</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 
                <span>Tree Template (Copy this)</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Two</span></a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> <span>Level Two</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Three</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Three</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a (click)="onNavigateClick('programmingpractice')"><i class="fa fa-circle-o"></i> 
                <span>Programming Practice</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview">
                  <a (click)="onNavigateClick('programmingpractice/apitree')"><i class="fa fa-code"></i> 
                    <span>API Stuff</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a [routerLink]="['programmingpractice/apitree', 'apiexample']"><i class="fa fa-circle-o"></i> 
                        <span>Rest API Example</span></a></li>
                    <li><a [routerLink]="['programmingpractice/apitree', 'apinotes']"><i class="fa fa-circle-o"></i> 
                        <span>Rest API Notes</span></a></li>
                  </ul>
                </li>
              </ul>
                <ul class="treeview-menu">
                    <li class="treeview">
                    <a (click)="onNavigateClick('programmingpractice/udemypracticetree')">
                        <i class="fa fa-code"></i>
                        <span>Udemy Stuff</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a [routerLink]="['programmingpractice/udemypracticetree', 'udemypractice']"><i class="fa fa-code"></i>
                            <span>Udemy Practice Example</span></a></li>                        
                    </ul>
                    </li>
                </ul>                
            </li>
            <li class="treeview">
                    <a [routerLink]="['scratchpage']"><i class="fa fa-code"></i>
                        <span>Programming Scratch Page</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwttest']"><i class="fa fa-code"></i>
                        <span>JSON Web Token Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwtpayloadtest']"><i class="fa fa-code"></i>
                        <span>JSON Web Token Payload Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['cookietest']"><i class="fa fa-code"></i>
                        <span>Cookie Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['observableexample']"><i class="fa fa-code"></i>
                        <span>Observable Example</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['codesnippets']"><i class="fa fa-code"></i>
                        <span>Code Snippets</span></a>
                </li>            
          </ul>
        </li>
        <li class="treeview">
            <a [routerLink]="['platformsdashboard']"><i class="fa fa-magnet"></i>
                <span>Platforms</span></a>      
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-users"></i>
                <span>Clients</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="clients_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['client']"><i class="fa fa-user"></i>
                    <span>ClientTemplate</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-users"></i>
                    <span>Client List</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-user-plus"></i>
                    <span>Create New Client</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-ticket"></i>
                    <span>Create Support Ticket</span></a></li>              
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock text-danger"></i> 
                <span>Sales</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="sales_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Quick Sale</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Create a Lead</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Create a Quote</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Manage Sales Funnel</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onNavigateClick('projectdashboard')" >
                <i class="fa fa-check-square"></i> 
                <span>Projects</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="projects_dropdown"  class="treeview-menu">                
                <li class="treeview"><a [routerLink]="['listprojects']">
                    <i class="fa fa-list-ol"></i> 
                    <span>Project List</span></a></li>
                <li class="treeview"><a [routerLink]="['createtask']">
                    <i class="fa fa-check-square"></i> 
                    <span>Create A Task</span></a></li>
                <li class="treeview"><a [routerLink]="['listprojects']">
                    <i class="fa fa-check"></i> 
                    <span>Create a Sub Task</span></a></li>
                <li class="treeview"><a [routerLink]="['listprojects']">
                    <i class="fa fa-list-ol"></i> 
                    <span>Create A Project</span></a></li>
                <li class="treeview"><a [routerLink]="['mytasks']">
                    <i class="fa fa-check-square"></i> 
                    <span>My Tasks</span></a></li>                
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock text-danger"></i> 
                <span>Reports</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="reports_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i>
                    <span>CS Reports</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Sales Reports</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock text-danger"></i> 
                <span>Goals</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="goals_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Create Goal</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Goal Analysis</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()"><i class="fa fa-circle-o"></i> 
                <span>Data Mgmt</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="data_mgmt_dropdown" class="treeview-menu">
                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/userdashboard')">
                        <i class="fa fa-user-circle-o"></i> 
                        <span>Users</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="user_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/listusers']">
                            <i class="fa fa-user-circle-o"></i>
                            <span>User List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/user/create']">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Create a User</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a (click)="onNavigateClick('securitygroupsdashboard')">
                        <i class="fa fa-unlock text-danger"></i> 
                        <span>Security</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="security_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['securitygroups']">
                            <i class="fa fa-unlock text-danger"></i>
                            <span>Security Groups List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-unlock text-danger"></i>
                            <span>Create a Security Group</span></a></li>
                    </ul>
                </li>

                <li>
                    <a (click)="onNavigateClick('servicedashboard')">
                        <i class="fa fa-handshake-o text-danger"></i> 
                        <span>Services</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="service_mgmt_dropdown" class="treeview-menu">
                        <li><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-handshake-o text-danger"></i> 
                            <span>Service List</span></a></li>
                        <li><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-handshake-o text-danger"></i> 
                            <span>Create a Service</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('inventorydashboard')">
                        <i class="fa fa-cubes text-danger"></i> 
                        <span>Inventory</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="inventory_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-cubes text-danger"></i> 
                            <span>Inventory List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-cube text-danger"></i> 
                            <span>Create an Inventory Item</span> </a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('contractdashboard')">
                        <i class="fa fa-files-o"></i> 
                        <span>Contracts</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="contracts_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-files"></i>
                            <span>Contract Types List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-file-text-o"></i>
                            <span>Create a Contract Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('discountdashboard')">
                        <i class="fa fa-minus-square"></i> 
                        <span>Discounts</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="discount_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-minus-square"></i> 
                            <span>Discount List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-minus-square"></i> 
                            <span>Create a Discount</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('campaigndashboard')">
                        <i class="fa fa-bullhorn"></i> 
                        <span>Campaigns</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="campaign_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-bullhorn"></i> 
                            <span>Campaign List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-bullhorn"></i> 
                            <span>Create a Campaign</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('paymenttypedashboard')">
                        <i class="fa fa-lock"></i> 
                        <span>Payment Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="paytype_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Payment Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Create a Payment Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('supportticketdashboard')">
                        <i class="fa fa-ticket"></i> 
                        <span>Support Ticket Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="supportticket_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-ticket"></i> 
                            <span>Support Ticket Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-ticket"></i> 
                            <span>Create a Support Ticket Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/tiersdashboard')">
                        <i class="fa fa-sort-numeric-asc"></i> 
                        <span>Tiers</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tier_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/listtiers']">
                            <i class="fa fa-sort-numeric-asc"></i>
                            <span>Tier List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/createtier']">
                            <i class="fa fa-sort-numeric-asc"></i>
                            <span>Create a Tier</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/statusesdashboard')">
                        <i class="fa fa-list-alt"></i> 
                        <span>Statuses</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tier_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/liststatuses']">
                            <i class="fa fa-list-alt"></i>
                            <span>Statuses List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/createstatus']">
                            <i class="fa fa-list-alt"></i>
                            <span>Create a Status</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/tagdashboard')" >
                        <i class="fa fa-tags"></i> 
                        <span>Tags</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tags_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/listtags']">
                            <i class="fa fa-tags"></i> 
                            <span>Tag List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/createtag']">
                            <i class="fa fa-tag"></i> 
                            <span>Create a Tag</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('clienttypedashboard')">
                        <i class="fa fa-user"></i> 
                        <span>Client Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="clienttypes_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-users"></i> 
                            <span>Client Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-user"></i> 
                            <span>Create a Client Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('platformsdashboard')">
                        <i class="fa fa-magnet"></i> 
                        <span>Platforms</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="platform_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-magnet"></i> 
                            <span>Platform List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-magnet"></i> 
                            <span>Create a Platform</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> 
                <span>System Settings</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="settings_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Business Info</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Region Settings</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Workflow Management</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock text-danger"></i> 
                <span>Knowledge Base</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="knowledge_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Open KB</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Create KB Article</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                 <i class="fa fa-lock text-danger"></i> 
                 <span>Tools</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['systembackup']"><i class="fa fa-lock text-danger"></i> 
                    <span>System Backup</span></a></li>
                <li class="treeview"><a [routerLink]="['currentusers']"><i class="fa fa-lock text-danger"></i> 
                    <span>Current Users</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Import</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock text-danger"></i> 
                    <span>Export</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> 
                <span>About</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_about" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['aboutthissoftware']">
                    <span>About this Software</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Licenses</span></a></li>
            </ul>
        </li>
        <li class="treeview"><a [routerLink]="['backendcontrols']"><i class="fa fa-shield"></i>
            <span>Backend Controls</span></a></li>
        
        