<!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/sampleimages/Yoda160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>The Yoda</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a [routerLink]="['home']">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>         
        </li>
        <li class="treeview">
            <a [routerLink]="['styleguide']">
                <i class="fa fa-eye"></i> <span>Style Guide</span>
            </a>
        </li>
        <li class="treeview">
            <a [routerLink]="['upgradenotes']">
                <i class="fa fa-shield"></i> <span>Upgrade Notes</span>
            </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-circle-o"></i> <span>Programming</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> 
                <span>Tree Template (Copy this)</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Two</span></a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> <span>Level Two</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Three</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> <span>Level Three</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a (click)="onNavigateClick('programmingpractice')"><i class="fa fa-circle-o"></i> 
                <span>Programming Practice</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview">
                  <a (click)="onNavigateClick('programmingpractice/apitree')"><i class="fa fa-code"></i> 
                    <span>API Stuff</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a [routerLink]="['programmingpractice/apitree', 'apiexample']"><i class="fa fa-circle-o"></i> 
                        <span>Rest API Example</span></a></li>
                    <li><a [routerLink]="['programmingpractice/apitree', 'apinotes']"><i class="fa fa-circle-o"></i> 
                        <span>Rest API Notes</span></a></li>
                  </ul>
                </li>
              </ul>
                <ul class="treeview-menu">
                    <li class="treeview">
                    <a (click)="onNavigateClick('programmingpractice/udemypracticetree')">
                        <i class="fa fa-code"></i>
                        <span>Udemy Stuff</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a [routerLink]="['programmingpractice/udemypracticetree', 'udemypractice']"><i class="fa fa-code"></i>
                            <span>Udemy Practice Example</span></a></li>                        
                    </ul>
                    </li>
                </ul>                
            </li>
            <li class="treeview">
                    <a [routerLink]="['scratchpage']"><i class="fa fa-code"></i>
                        <span>Programming Scratch Page</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwttest']"><i class="fa fa-code"></i>
                        <span>JSON Web Token Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwtpayloadtest']"><i class="fa fa-code"></i>
                        <span>JSON Web Token Payload Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['cookietest']"><i class="fa fa-code"></i>
                        <span>Cookie Test</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['observableexample']"><i class="fa fa-code"></i>
                        <span>Observable Example</span></a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['codesnippets']"><i class="fa fa-code"></i>
                        <span>Code Snippets</span></a>
                </li>            
          </ul>
        </li>
        <li class="treeview">
            <a [routerLink]="['platformsdashboard']"><i class="fa fa-magnet"></i>
                <span>Platforms</span></a>      
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-users"></i>
                <span>Clients</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="clients_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['client']"><i class="fa fa-user"></i>
                    <span>ClientTemplate</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-users"></i>
                    <span>Client List</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-user-plus"></i>
                    <span>Create New Client</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-ticket"></i>
                    <span>Create Support Ticket</span></a></li>              
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> 
                <span>Sales</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="sales_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Quick Sale</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Create a Lead</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Create a Quote</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Manage Sales Funnel</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-check-square"></i> 
                <span>Projects</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="projects_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['projectdashboard']">
                    <i class="fa fa-check-square"></i> 
                    <span>Project Dashboard</span></a></li>
                <li class="treeview"><a [routerLink]="['project']">
                    <i class="fa fa-check-square"></i> 
                    <span>Project Template</span></a></li>
                <li class="treeview"><a [routerLink]="['listprojects']">
                    <i class="fa fa-check-square"></i> 
                    <span>Project List</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']">
                    <i class="fa fa-check-square"></i> 
                    <span>My Tasks</span></a></li>                
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> 
                <span>Reports</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="reports_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i>
                    <span>CS Reports</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Sales Reports</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> 
                <span>Goals</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="goals_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Create Goal</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Goal Analysis</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()"><i class="fa fa-circle-o"></i> 
                <span>Data Mgmt</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="data_mgmt_dropdown" class="treeview-menu">
                <li class="treeview">
                    <a (click)="onNavigateClick('userdashboard')">
                        <i class="fa fa-user-circle-o"></i> 
                        <span>Users</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="user_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-user-circle-o"></i>
                            <span>User List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Create a User</span></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a (click)="onNavigateClick('securitygroupsdashboard')">
                        <i class="fa fa-unlock"></i> 
                        <span>Security</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="security_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['securitygroups']">
                            <i class="fa fa-unlock"></i>
                            <span>Security Groups List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-unlock"></i>
                            <span>Create a Security Group</span></a></li>
                    </ul>
                </li>

                <li>
                    <a (click)="onNavigateClick('servicedashboard')">
                        <i class="fa fa-handshake-o"></i> 
                        <span>Services</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="service_mgmt_dropdown" class="treeview-menu">
                        <li><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-handshake-o"></i> 
                            <span>Service List</span></a></li>
                        <li><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-handshake-o"></i> 
                            <span>Create a Service</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('inventorydashboard')">
                        <i class="fa fa-cubes"></i> 
                        <span>Inventory</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="inventory_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-cubes"></i> 
                            <span>Inventory List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-cube"></i> 
                            <span>Create an Inventory Item</span> </a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('contractdashboard')">
                        <i class="fa fa-files-o"></i> 
                        <span>Contracts</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="contracts_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-files"></i>
                            <span>Contract Types List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">
                            <i class="fa fa-file-text-o"></i>
                            <span>Create a Contract Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('discountdashboard')">
                        <i class="fa fa-minus-square"></i> 
                        <span>Discounts</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="discount_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-minus-square"></i> 
                            <span>Discount List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-minus-square"></i> 
                            <span>Create a Discount</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('campaigndashboard')">
                        <i class="fa fa-bullhorn"></i> 
                        <span>Campaigns</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="campaign_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-bullhorn"></i> 
                            <span>Campaign List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-bullhorn"></i> 
                            <span>Create a Campaign</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('paymenttypedashboard')">
                        <i class="fa fa-lock"></i> 
                        <span>Payment Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="paytype_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Payment Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Create a Payment Type</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Edit a Payment Type</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <span>Delete a Payment Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('supportticketdashboard')">
                        <i class="fa fa-ticket"></i> 
                        <span>Support Ticket Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="supportticket_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-ticket"></i> 
                            <span>Support Ticket Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-ticket"></i> 
                            <span>Create a Support Ticket Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/tiersdashboard')">
                        <i class="fa fa-sort-numeric-asc"></i> 
                        <span>Tiers</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tier_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/listtiers']">
                            <i class="fa fa-sort-numeric-asc"></i>
                            <span>Tier List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/createtier']">
                            <i class="fa fa-sort-numeric-asc"></i>
                            <span>Create a Tier</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('datamgmtmenu/tagdashboard')" >
                        <i class="fa fa-tags"></i> 
                        <span>Tags</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tags_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/listtags']">
                            <i class="fa fa-tags"></i> 
                            <span>Tag List</span></a></li>
                        <li class="treeview"><a [routerLink]="['/auth/datamgmtmenu/createtag']">
                            <i class="fa fa-tag"></i> 
                            <span>Create a Tag</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('clienttypedashboard')">
                        <i class="fa fa-user"></i> 
                        <span>Client Types</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="clienttypes_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-users"></i> 
                            <span>Client Type List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-user"></i> 
                            <span>Create a Client Type</span></a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('platformsdashboard')">
                        <i class="fa fa-magnet"></i> 
                        <span>Platforms</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="platform_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-magnet"></i> 
                            <span>Platform List</span></a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">
                            <i class="fa fa-magnet"></i> 
                            <span>Create a Platform</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> 
                <span>System Settings</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="settings_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']">
                    <span>Business Info</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']">
                    <span>Region Settings</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Workflow Management</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> 
                <span>Knowledge Base</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="knowledge_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Open KB</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Create KB Article</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                 <i class="fa fa-lock"></i> 
                 <span>Tools</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['systembackup']">
                    <span>System Backup</span></a></li>
                <li class="treeview"><a [routerLink]="['currentusers']">
                    <span>Current Users</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Import</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Export</span></a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> 
                <span>About</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_about" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['aboutthissoftware']">
                    <span>About this Software</span></a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> 
                    <span>Licenses</span></a></li>
            </ul>
        </li>
        <li class="treeview"><a [routerLink]="['backendcontrols']"><i class="fa fa-shield"></i>
            <span>Backend Controls</span></a></li>
        
        <!--
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel Template</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Example of # Not. </span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Ex.of Word Not.</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Ex. of Multiple Not.</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Ex. Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="header">EXAMPLE LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        -->
<!--
      </ul>
    </section>
    

  </aside>


<!--
<div id="sidebar-wrapper"> 
   <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Angular2CRM
            </a>
        </li>
    </ul>  

  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/sampleimages/Yoda160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>The Yoda</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a [routerLink]="['home']">
            <i class="fa fa-dashboard"></i> <span>Home</span>
          </a>         
        </li>
        <li class="treeview">
            <a [routerLink]="['upgradenotes']">
                <i class="fa fa-shield"></i> Upgrade Notes
            </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-circle-o"></i> <span>Programming</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Tree Template (Copy this)
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="treeview">
              <a (click)="onNavigateClick('programmingpractice')"><i class="fa fa-circle-o"></i> 
                <span>Programming Practice</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview">
                  <a (click)="onNavigateClick('programmingpractice/apitree')"><i class="fa fa-code"></i> API Stuff
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a [routerLink]="['programmingpractice/apitree', 'apiexample']"><i class="fa fa-circle-o"></i> Rest API Example</a></li>
                    <li><a [routerLink]="['programmingpractice/apitree', 'apinotes']"><i class="fa fa-circle-o"></i> Rest API Notes</a></li>
                  </ul>
                </li>
              </ul>
                <ul class="treeview-menu">
                    <li class="treeview">
                    <a (click)="onNavigateClick('programmingpractice/udemypracticetree')">
                        <i class="fa fa-code"></i>Udemy Stuff
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a [routerLink]="['programmingpractice/udemypracticetree', 'udemypractice']"><i class="fa fa-code"></i>Udemy Practice Example</a></li>                        
                    </ul>
                    </li>
                </ul>                
            </li>
            <li class="treeview">
                    <a [routerLink]="['scratchpage']"><i class="fa fa-code"></i>Programming Scratch Page</a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwttest']"><i class="fa fa-code"></i>JSON Web Token Test</a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['jwtpayloadtest']"><i class="fa fa-code"></i>JSON Web Token Payload Test</a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['cookietest']"><i class="fa fa-code"></i>Cookie Test</a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['observableexample']"><i class="fa fa-code"></i>Observable Example</a>
                </li>
                <li class="treeview">
                    <a [routerLink]="['codesnippets']"><i class="fa fa-code"></i>Code Snippets</a>
                </li>            
          </ul>
        </li>
        <li class="treeview">
            <a [routerLink]="['platformsdashboard']"><i class="fa fa-link"></i>Platforms</a>      
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-users"></i>Clients
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="clients_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['client']"><i class="fa fa-user"></i>ClientTemplate</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-users"></i>Client List</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-user-plus"></i>Create New Client</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-ticket"></i>Create Support Ticket</a></li>              
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> Sales
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="sales_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Quick Sale</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Create a Lead</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Create a Quote</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Manage Sales Funnel</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> Projects
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="projects_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['projectdashboard']">Project Dashboard</a></li>
                <li class="treeview"><a [routerLink]="['project']">Project Template</a></li>
                <li class="treeview"><a [routerLink]="['listprojects']">Project List</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i>My Tasks</a></li>                
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> Reports
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="reports_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> CS Reports</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Sales Reports</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> Goals
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="goals_dropdown"  class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Create Goal</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Goal Analysis</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">Data Mgmt<span class="caret"></span></a>
            <ul id="data_mgmt_dropdown" class="treeview-menu">
                <li class="treeview">
                    <a (click)="onNavigateClick('userdashboard')">
                        <i class="fa fa-lock"></i> Users
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="user_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">User List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a User</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a User</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a User</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a (click)="onNavigateClick('securitygroupsdashboard')">
                        <i class="fa fa-lock"></i> Security
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="security_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['securitygroups']">Security Groups List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Security Group</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Security Group</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Security Group</a></li>
                    </ul>
                </li>

                <li>
                    <a (click)="onNavigateClick('servicedashboard')">
                        <i class="fa fa-lock"></i> Services
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="service_mgmt_dropdown" class="treeview-menu">
                        <li><a [routerLink]="['needtocreatelink']">Service List</a></li>
                        <li><a [routerLink]="['needtocreatelink']">Create a Service</a></li>
                        <li><a [routerLink]="['needtocreatelink']">Edit a Service</a></li>
                        <li><a [routerLink]="['needtocreatelink']">Delete a Service</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('inventorydashboard')">
                        <i class="fa fa-lock"></i> Inventory
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="inventory_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Inventory List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Create an Inventory Item </a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Edit an Inventory Item </a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Delete an Inventory Item </a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('contractdashboard')">
                        <i class="fa fa-lock"></i> Contracts
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="contracts_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Contract Types List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Create a Contract Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Edit a Contract Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatlink']">Delete a Contract Type</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('discountdashboard')">
                        <i class="fa fa-lock"></i> Discounts
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="discount_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Discount List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Discount</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Discount</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Discount</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('campaigndashboard')">
                        <i class="fa fa-lock"></i> Campaigns
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="campaign_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Campaign List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Campaign</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Campaign</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Campaign</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('paymenttypedashboard')">
                        <i class="fa fa-lock"></i> Payment Types
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="paytype_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Payment Type List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Payment Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Payment Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Payment Type</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('supportticketdashboard')">
                        <i class="fa fa-lock"></i> Support Ticket Types
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="supportticket_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Support Ticket List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Support Ticket Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Support Ticket Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Support Ticket Type</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('tiersdashboard')">
                        <i class="fa fa-lock"></i> Tiers
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tier_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['tiersdashboard','listtiers']">Tier List</a></li>
                        <li class="treeview"><a [routerLink]="['createtier']">Create a Tier</a></li>
                        <li class="treeview"><a [routerLink]="['edittier']">Edit a Tier</a></li>
                        <li class="treeview"><a [routerLink]="['deletetier']">Delete a Tier</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('tagdashboard')" >
                        <i class="fa fa-lock"></i> Tags
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="tags_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['/auth/listtags']">Tag List</a></li>
                        <li class="treeview"><a [routerLink]="['/auth/createtag']">Create a Tag</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('clienttypedashboard')">
                        <i class="fa fa-lock"></i> Client Types
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="clienttypes_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Client Type List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Client Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Client Type</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Client Type</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a (click)="onNavigateClick('platformsdashboard')">
                        <i class="fa fa-lock"></i> Platforms
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul id="platform_mgmt_dropdown" class="treeview-menu">
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Platform List</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Create a Platform</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Edit a Platform</a></li>
                        <li class="treeview"><a [routerLink]="['needtocreatelink']">Delete a Platform</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> System Settings
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="settings_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']">Business Info</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']">Region Settings</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Workflow Management</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                <i class="fa fa-lock"></i> Knowledge Base
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="knowledge_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Open KB</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Create KB Article</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()" >
                 <i class="fa fa-lock"></i> Tools
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_dropdown" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['systembackup']">System Backup</a></li>
                <li class="treeview"><a [routerLink]="['currentusers']">Current Users</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Import</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Export</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a (click)="onClick()">
                <i class="fa fa-lock"></i> About
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul id="tools_about" class="treeview-menu">
                <li class="treeview"><a [routerLink]="['aboutthissoftware']">About this Software</a></li>
                <li class="treeview"><a [routerLink]="['needtocreatelink']"><i class="fa fa-lock"></i> Licenses</a></li>
            </ul>
        </li>
        <li class="treeview"><a [routerLink]="['backendcontrols']"><i class="fa fa-shield"></i>Backend Controls</a></li>
        
        <!--
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel Template</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Example of # Not. </span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>Ex.of Word Not.</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Ex. of Multiple Not.</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Ex. Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="header">EXAMPLE LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        -->
<!--
      </ul>
    </section>
    

  </aside>
</div>
-->

<!-- /#sidebar-wrapper -->