<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" style="padding:0px;" >
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a (click)="onClick()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <ang2-crm-breadcrumbs></ang2-crm-breadcrumbs> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Something...</a></li>            
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </form>
      </ul>   
    </div>
  </div>
</nav>