<h1>User Dashboard</h1>
<hr />
<h3>Recent User History (only  top 10 are shown for time period)</h3>
<div class="cell">
    <div class="listview-outlook" data-role="listview">
        <div class="list-group collapsed">
            <span class="list-group-toggle">Today</span>
            <div class="list-group-content">
                <a class="list marked" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list active" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="cell">
    <div class="listview-outlook" data-role="listview">
        <div class="list-group collapsed">
            <span class="list-group-toggle">Yesterday</span>
            <div class="list-group-content">
                <a class="list marked" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list active" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="list-group collapsed">
            <span class="list-group-toggle">Last 7 Days</span>
            <div class="list-group-content">
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title"><span class="place-right icon-flag-2 fg-red smaller"></span>subscribe@metroui.net</span>
                        <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title"><span class="place-right icon-flag-2 fg-green smaller"></span>subscribe@metroui.net</span>
                        <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
                <a class="list" href="#">
                    <div class="list-content">
                        <span class="list-title">subscribe@metroui.net</span>
                        <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                        <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<hr />

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-user-plus"></span>
    <span class="title">Create User</span>
</button>

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-user-minus"></span>
    <span class="title">Delete User</span>
</button>

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-users"></span>
    <span class="title">User List</span>
</button>

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-user"></span>
    <span class="title">Edit User</span>
</button>

<button class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
    <span class="icon mif-rocket"></span>
    <span class="title">Rocket</span>
    <span class="badge">10</span>
</button>

<br />