<h1>Name: Full Business Name</h1>
<h2>Code: New Client Code | Legacy Code: old crm code</h2>
<div class="box-body">
  <div class="row">
    <div class="col-md-6">
      <p>
        <span class="label label-danger">Part of Head Office</span>
        <span class="label label-warning">HO / Region of HO / Store</span>
        <span class="label label-success">Beauty / Retail</span>
        <span class="label label-info">Key Client</span>
        <span class="label label-primary">Location / Person</span>
      </p>
    </div>
    <div class="col-md-6">
        
        <ang2-crm-clientactionbuttons></ang2-crm-clientactionbuttons>
        
    </div>
  </div>
</div>


<hr />
<ang2-crm-clientinfoheader></ang2-crm-clientinfoheader>

<hr />
<form role="form">
  <div class="box-body">
   <div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_activity" data-toggle="tab">Activity</a></li>
              <li><a href="#tab_address" data-toggle="tab">Address</a></li>
              <li><a href="#tab_people" data-toggle="tab">People</a></li>
              <li><a href="#tab_software" data-toggle="tab">Software</a></li>
              <li><a href="#tab_licenses" data-toggle="tab">Licenses</a></li>
              <li><a href="#tab_sales" data-toggle="tab">Sales</a></li>
              <li><a href="#tab_support" data-toggle="tab">Support</a></li>
              <li><a href="#tab_education" data-toggle="tab">Education</a></li>
              <li><a href="#tab_contracts" data-toggle="tab">Contracts</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Action <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Support Ticket</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Person</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Sales Process</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Contract</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_activity">
                <ang2-crm-clientactivitytab></ang2-crm-clientactivitytab>
                
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_address">
                <!-- /ClientAddressTabs -->
                <ang2-crm-clientaddresstabs></ang2-crm-clientaddresstabs>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_people">
                <ang2-crm-clientpeopletab></ang2-crm-clientpeopletab>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_software">
                <ang2-crm-clientsoftwaretab></ang2-crm-clientsoftwaretab>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_licenses">
                  <ang2-crm-clientlicensestab></ang2-crm-clientlicensestab>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_sales">
                  <ang2-crm-clientsalestabs></ang2-crm-clientsalestabs>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_support">
                  <ang2-crm-clientsupporttabs></ang2-crm-clientsupporttabs>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_education">
                  Education goes here
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_contracts">
                  <ang2-crm-clientcontractstab></ang2-crm-clientcontractstab>
                  <ang2-crm-clientcontractsexpiredtab></ang2-crm-clientcontractsexpiredtab>
              </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
 
  <!-- /.box-body -->
  </div>
  
  <div class="box-footer">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
