<h1>Create a New Tag</h1>
<div [hidden] = "submitted">
<form *ngIf="active" role="form" (ngSubmit)="onSubmit()" #tagForm="ngForm" [formGroup]="dataForm">
  <div class="box-body">
      <div class="row">     
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon" [ngClass]="{ 'CheckboxChanged': dataForm.controls['IsActive'].dirty }">
                  <input type="checkbox" id="activeCheckbox" name="IsActive" formControlName="IsActive">
                </span>
            <input type="text" class="form-control" value="Active" readonly>
          </div>		
        </div>  
        <div class="col-md-6">
          <div class="input-group" >
                <span class="input-group-addon" [ngClass]="{ 'CheckboxChanged': dataForm.controls['IsDeleted'].dirty }">
                  <input type="checkbox" id="deletedCheckbox" name="IsDeleted" formControlName="IsDeleted">
                </span>
            <input type="text" class="form-control" value="Deleted" readonly>            
          </div>									
        </div>  
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Tag') } ">
      <label for="TagInput">Tag (X / 32)</label>
      <input type="text" class="form-control" id="Tag" placeholder="Enter Tag (No Space or Special Characters)"         
        name="Tag" formControlName="Tag">
      <div *ngIf="!dataForm.controls['Tag'].valid && !dataForm.controls['Tag'].pristine" class="alert alert-danger">A Tag (between 3-32 characters) that only contains letters and numbers is required</div>
    </div>    
    <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Tag') }">
      <label for="TagDescriptionInput">Tag Description (Y / 512)</label>
      <textarea id="TagDescriptionInput" class="form-control" rows="3" id="Description"        
        name="Description" formControlName="Description"></textarea>   
      <div *ngIf="!dataForm.controls['Description'].valid && !dataForm.controls['Description'].pristine" class="alert alert-danger">A Description (between 3-512 characters) is required</div>
    </div>    
  </div>
  <div class="box-footer">
    <button type="submit" (click)="modal1.showChildModal('SUBMIT')" class="btn btn-primary" [disabled]="!tagForm.form.valid">Submit</button>
    <button type="button" (click)="modal1.showChildModal('CANCEL')" class="btn btn-info" [disabled]="tagForm.form.pristine">Cancel</button>
    <button type="button" (click)="navBackToList()" class="btn bg-purple" >Go back to List</button>
  </div>
</form>
</div>
<ang2-crm-are-you-sure #modal1></ang2-crm-are-you-sure>