<h1>Create a New User</h1>
<div [hidden] = "submitted">
<form *ngIf="active" role="form" #userForm="ngForm" [formGroup]="dataForm">
  <div class="box-body">
      <div class="row"> 
  
        <div class="col-md-6">
        <div class="input-group">
                <span class="input-group-addon" [ngClass]="{ 'CheckboxChanged': dataForm.controls['IsActive'].dirty, 'has-error': checkValidAndPristine('IsActive') }">
                  <p-checkbox formControlName="IsActive" binary="true"></p-checkbox>                  
                </span>
            <input type="text" class="form-control" value="Active" readonly>
          </div>		
        </div>  
        <div class="col-md-6">
          <div class="input-group" >
                <span class="input-group-addon" [ngClass]="{ 'CheckboxChanged': dataForm.controls['IsDeleted'].dirty }">                
                  <p-checkbox formControlName="IsDeleted" binary="true"></p-checkbox>
                </span>
            <input type="text" class="form-control" value="Deleted" readonly>            
          </div>									
        </div> 

    </div>
    <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Username') } ">          
      <label class="formLabel" for="UsernameInput">Username ({{ getLength('Username') }} / 32)</label>
      <input type="text" class="form-control" id="Username" placeholder="Enter Username (No Space or Special Characters)"         
        name="Username" formControlName="Username">      
      <div *ngIf="!dataForm.controls['Username'].valid && !dataForm.controls['Username'].pristine" class="alert alert-danger">A Username (between 3-32 characters) that only contains letters and numbers is required</div> 
    </div>    
    <div class="row"> 
      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Fname') } ">          
        <label class="formLabel" for="FnameInput">First Name</label>
        <input type="text" class="form-control" id="Fname" placeholder="Enter First Name"         
          name="Fname" formControlName="Fname">      
        <div *ngIf="!dataForm.controls['Fname'].valid && !dataForm.controls['Fname'].pristine" class="alert alert-danger">A First Name</div>
      </div> 
      </div>
      <div class="col-md-6">
        <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Lname') } ">          
        <label class="formLabel" for="LnameInput">Last Name</label>
        <input type="text" class="form-control" id="Lname" placeholder="Enter Last Name"         
          name="Lname" formControlName="Lname">      
        <div *ngIf="!dataForm.controls['Lname'].valid && !dataForm.controls['Lname'].pristine" class="alert alert-danger">A Last Name</div>
      </div> 
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': checkValidAndPristine('Pword') } ">          
      <label class="formLabel" for="PwordInput">Password</label>
      <input type="password" class="form-control" id="Pword" placeholder="Enter Password (No Space or Special Characters)"         
        name="Pword" formControlName="Pword">      
      <div *ngIf="!dataForm.controls['Pword'].valid && !dataForm.controls['Pword'].pristine" class="alert alert-danger">A Username (between 3-32 characters) that only contains letters and numbers is required</div>
    </div>   
    
    <div class="row">
      <div class="col-md-3">
        <h3>Select files</h3>
 
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone">
                Base drop zone
            </div>

            Single
            <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>
      <div class="col-md-6">
        <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
 
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
      </div>
    </div>

    <div *ngIf="!statusMessageEmpty" class="row">
      <div class="col-md-12">
          <ang2-crm-data-mgmt-submit [DataType]="'User'" [Result]="statusMessage" [CodeValue]="TagValue"
          [CalloutType]="'SUBMIT'"></ang2-crm-data-mgmt-submit>
      </div>  
    </div>   
  </div>
  <div class="box-footer">
    <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
    <button type="button" (click)="cancel.showChildModal()" class="btn btn-info" [disabled]="userForm.form.pristine">Cancel</button>
    <button type="button" (click)="navBackToList()" class="btn bg-purple" >Go back to List</button>
  </div>
</form>
</div>
<ang2-crm-are-you-sure [ModalType]="'CANCEL'" #cancel></ang2-crm-are-you-sure>
<ang2-crm-are-you-sure [ModalType]="'SUBMIT'" #submit></ang2-crm-are-you-sure>