<h1>Edit an Existing Tag</h1>
<h3>Diagnostic: {{diagnostic}}</h3>
<h4>ID: {{id}}</h4>
<div [hidden] = "submitted">
<form *ngIf="active" role="form" (ngSubmit)="onSubmit()" #tagForm="ngForm">
  <div class="box-body">
    <div class="checkbox">
      <div class="row">     
        <div class="col-md-6">
          <label for="activeCheckbox">
            <input type="Checkbox" id="activeCheckbox" 
            [(ngModel)]="tagIsActive" name="IsActive"
            #IsActive = "ngModel"> Active
          </label>
        </div>    
        <div id="isActiveState">TODO: remove this: {{tagIsActive}}, {{IsActive.className}}</div>    
      </div>
    </div>
    <div class="form-group">
      <label for="TagInput">Tag</label>
      <input type="text" class="form-control" id="Tag" placeholder="Enter Tag (No Space or Special Characters)" 
        required minlength="3" maxlength="32"
        [(ngModel)]="tagTag" name="Tag" 
      #Tag = "ngModel" #SpyTag>
      <div id="textCharNum"> {{tagTag.length}} / 32: TODO: remove this: {{Tag.errors}}, {{SpyTag.className}}</div>
      <div *ngIf="Tag.errors && (Tag.dirty || Tag.touched)"
        class="alert alert-danger">
        <div [hidden]="!Tag.errors.required">
          Tag is required
        </div>
        <div [hidden]="!Tag.errors.minlength">
          Tag must be at least 3 characters long.
        </div>
        <div [hidden]="!Tag.errors.maxlength">
          Tag cannot be more than 32 characters long.
        </div>
       </div>
    </div>    
    <div class="form-group">
      <label for="TagDescriptionInput">Tag Description</label>
      <textarea id="TagDescriptionInput" class="form-control" rows="3" id="Description"
        required minlength="3" maxlength="512"
        [(ngModel)]="tagDescription" name="Description" 
      #Description = "ngModel" #SpyDescription></textarea>   
      <div id="textCharNum"> {{tagDescription.length}} / 512: TODO: remove this: {{tagDescription.errors}}, {{SpyDescription.className}}</div>
      <div *ngIf="Description.errors && (Description.dirty || Description.touched)"
        class="alert alert-danger">
        <div [hidden]="!Description.errors.required">
          Description is required
        </div>
        <div [hidden]="!Description.errors.minlength">
          Description must be at least 3 characters long.
        </div>
        <div [hidden]="!Description.errors.maxlength">
          Descriptiong cannot be more than 512 characters long.
        </div>
       </div>  
    </div> 
    <div class="form-group">
      <div class="row">     
        <div class="col-md-6">
          <!--Date Created-->
          <label for="tagDateCreatedInput">Created On:</label><br />
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="tagDateCreatedInput" placeholder="Date Created" value="{{ tagCreated | timedate: 'medium' }}" disabled>
          </div>
        </div>
        <div class="col-md-6">
          <!--Date Due-->
          <label for="tagDateDueInput">Last Modified On:</label>
          <div class="input-group">              
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="tagDateModifiedInput" placeholder="Date Last Modified" value="{{ tagModified | timedate: 'medium' }}" disabled>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!tagForm.form.valid">Submit</button>
    <button type="submit" class="btn btn-primary" >Cancel</button>
  </div>
  <div>I need to confirm that the data is posted before moving on</div>
</form>
</div>
