<h1>Edit an Existing Tag</h1>
<h3>Diagnostic: {{diagnostic}}</h3>
<h4>ID: {{id}}</h4>
<div [hidden] = "submitted">
<form *ngIf="active" role="form" (ngSubmit)="onUpdateSubmit()" #tagForm="ngForm" [formGroup]="dataForm">
  <div class="box-body">
      <div class="row">     
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" id="activeCheckbox" name="IsActive" formControlName="IsActive">
                </span>
            <input type="text" class="form-control" value="Active" readonly>
          </div>		
        </div>  
        <div class="col-md-6">
          <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" id="deletedCheckbox" name="IsDeleted" formControlName="IsDeleted">
                </span>
            <input type="text" class="form-control" value="Deleted" readonly>
          </div>									
        </div>  
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': !dataForm.controls['Tag'].valid }">
      <label for="TagInput">Tag ({{this.dataForm.controls['Tag'].value.length}} / 32)</label>
      <input type="text" class="form-control" id="Tag" placeholder="Enter Tag (No Space or Special Characters)"         
        name="Tag" formControlName="Tag">
      <div *ngIf="!dataForm.controls['Tag'].valid" class="alert alert-danger">A Tag (between 3-32 characters) that only contains letters and numbers is required</div>
    </div>    
    <div class="form-group" [ngClass]="{ 'has-error': !dataForm.controls['Description'].valid }">
      <label for="TagDescriptionInput">Tag Description ({{this.dataForm.controls['Description'].value.length}} / 512)</label>
      <textarea id="TagDescriptionInput" class="form-control" rows="3" id="Description"        
        name="Description" formControlName="Description"></textarea>   
      <div *ngIf="!dataForm.controls['Description'].valid" class="alert alert-danger">A Description (between 3-512 characters) is required</div>
    </div> 
    <div class="form-group">
      <div class="row">     
        <div class="col-md-6">
          <!--Date Created-->
          <label for="tagDateCreatedInput">Created On:</label><br />
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="tagDateCreatedInput" placeholder="Date Created" formControlName="Created" value="{{ Created | timedate: 'medium' }}" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <!--Date Due-->
          <label for="tagDateDueInput">Last Modified On:</label>
          <div class="input-group">              
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="tagDateModifiedInput" placeholder="Date Last Modified" formControlName="Modified" value="{{ Modified | timedate: 'medium' }}" readonly>
          </div>
        </div>
      </div>
    </div>      
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!tagForm.form.valid">Submit</button>
    <button type="button" (click)="onCancelClick()" class="btn btn-info" >Cancel</button>
  </div>
  <div>I need to confirm that the data is posted before moving on</div>
</form>
</div>
