<h2>Angular2-JWT test</h2>
<p>Creating a bunch of tests in this view to try to understand Authentication and Encryption wtih JSON Web Tokens</p>
<hr />
<a (click)="onClickSendToConsole()">Click to see if sending request works (look at console for results)</a><br />
<a (click)=" onClickJWT()">Get Thing</a> (this doesnt work)

<hr />
From <a href="http://angularjs.blogspot.ca/2016/11/easy-angular-authentication-with-json.html">http://angularjs.blogspot.ca/2016/11/easy-angular-authentication-with-json.html</a><br />
<h3>How Are JWTs Used to Authenticate Angular Apps?</h3>

For Angular apps that use data APIs, the typical scenario is this:
<ol>
    <li>Users send their credentials to the server which are verified against a database. If everything checks out, a JWT is sent back to them.</li>
    <ul>
        <li>Currently working in the API to create the JWT that will be stored in the cookie </li>
    </ul>
    <li>The JWT is saved in the user's browser somehow--either by holding it in local storage or in a cookie.</li>
    <ul>
        <li>I've created the  <a [routerLink]="['cookietest']">Cookie Test</a> to understand how to create the cookie to store the JWT </li>
    </ul>
    <li>The presence of a JWT saved in the browser is used as an indicator that a user is currently logged in.</li>
    <li>The JWT's expiry time is continually checked to maintain an "authenticated" state in the Angular app, and the user's details are read from the payload to populate views such as the their profile.</li>
    <li>Access to protected client-side routes (such as the profile area) are limited to only authenticated users</li>
    <li>When the user makes XHR requests to the API for protected resources, the JWT gets sent as an Authorization header using the Bearer scheme, or as a cookie.</li>
    <li>Middleware on the server--which is configured with the app's secret key--checks the incoming JWT for validity and, if valid, returns the requested resources.</li>
</ol>

Fortunately for us, there are several open source libraries for both Angular 1.x and 2 which help us work with JWTs. These libraries are varied in their functionality, but some of the features we get with them are the ability to:
<ul>
    <li>Decode the JWT and read its payload</li>
    <li>Attach the JWT as an Authorization header to XHR requests</li>
    <li>Have a service which exposes methods for logging in and logging out, and which checks whether the current user's JWT is expired or not</li>
</ul>
Angular 2
<ul>
    <li>angular2-jwt by Auth0</li>
    <li>ng2-ui-auth by Ron Zeidman</li>
</ul>

<p>Regarding Point #2, this is the npm module I installed to store a cookie: https://www.npmjs.com/package/angular2-cookie</p>
<p>With regards to payload of JWT Token, note the following Registered Claim Names (from: https://tools.ietf.org/html/rfc7519)</p>
<ul>
    <li> 4.1.1.  "iss" (Issuer) Claim </li>
    <li> 4.1.2.  "sub" (Subject) Claim </li>
    <li> 4.1.3.  "aud" (Audience) Claim  </li>
    <li> 4.1.4.  "exp" (Expiration Time) Claim </li>
    <li> 4.1.5.  "nbf" (Not Before) Claim  </li>
    <li> 4.1.6.  "iat" (Issued At) Claim </li>
    <li> 4.1.7.  "jti" (JWT ID) Claim  </li>
</ul>
<p>I ended up using this tutorial: <a href="http://jasonwatmore.com/post/2016/08/16/angular-2-jwt-authentication-example-tutorial">http://jasonwatmore.com/post/2016/08/16/angular-2-jwt-authentication-example-tutorial</a> to rebuild the authentication / login functions on this site </p>