tbody {
    background: #ccc;
}

tbody tr:nth-child(2n)  {
    background: #fff;
}

/* Text is directly within flex child,
   so doing the wrapping here */
.flex-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 27vw;
}