<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn bg-olive toggler filterToggler" (click)="toggleFilterBar()"><i class="fa fa-filter"></i></button>
        <button type="button" class="btn bg-navy toggler sortToggler" (click)="toggleSortBar()"><i class="fa fa-sort-amount-desc"></i></button>
        <button type="button" class="btn bg-purple btn-success" (click)="createUser();" ><i class="fa fa-plus-square"></i></button>
        <h1 style="display: inline-block;">List of Users</h1>
        <hr />
    </div>
</div>
<div class="row filter-bar">
    <div class="col-md-12">
        <div class="box bg-olive collapsed-box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Filters (describe filters checked)</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body bg-gray">
                <div class="col-lg-4 col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Filter1</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_ACTIVE" (change)="Checkbox_ACTIVE = !Checkbox_ACTIVE">
                                </span>
                                <input type="text" class="form-control" value="Completed">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_DELETED" (change)="Checkbox_DELETED = !Checkbox_DELETED">
                                </span>
                                <input type="text" class="form-control" value="Pending">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Filter2</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_ACTIVE" (change)="Checkbox_ACTIVE = !Checkbox_ACTIVE">
                                </span>
                                <input type="text" class="form-control" value="Active">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_DELETED" (change)="Checkbox_DELETED = !Checkbox_DELETED">
                                </span>
                                <input type="text" class="form-control" value="Deleted">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Filter3</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_ACTIVE" (change)="Checkbox_ACTIVE = !Checkbox_ACTIVE">
                                </span>
                                <input type="text" class="form-control" value="Recurring">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" [checked]="Checkbox_DELETED" (change)="Checkbox_DELETED = !Checkbox_DELETED">
                                </span>
                                <input type="text" class="form-control" value="Overdue">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<div class="row sort-bar">
    <div class="col-md-12">
        <div class="box bg-navy collapsed-box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Sorting (describe sorting that is selected)</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body bg-gray">
                <div class="col-lg-4 col-xs-4">
                    <label class="label-control">Rows on page</label>
                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    </select>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <div class="row">
                        <label class="col-xs-12 label-control">Sort by</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="ACTIVE">Active</option>
                            <option ngValue="USERNAME">Username</option>                            
                            <option ngValue="FNAME">First Name</option>   
                            <option ngValue="LNAME">Last Name</option>   
                            <option ngValue="CREATED">Created</option>
                            <option ngValue="MODIFIED">Modified</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    More....
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="panel panel-default">
  <table class="table table-striped" [mfData]="data | dataMgmtIsActiveFilter : Checkbox_ACTIVE | dataMgmtIsDeletedFilter : Checkbox_DELETED | dataMgmtFilter : filterQuery : 'DESCRIPTION' " #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
      <tr>
        <th colspan=7>
          <button (click)="refreshNow();" type="button" class="btn bg-maroon btn-primary btn-block btn-sm">Last Refreshed: {{ refreshTime | date:'MM/dd@h:mm:ss a' }}</button>
        </th>
      </tr>
      <tr>
        <th style="width: 5%">Action
        </th>
        <th style="width: 10%">
          <mfDefaultSorter by="ACTIVE">Active</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="USERNAME">USERNAME</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="FNAME">First Name</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="LNAME">Last Name</mfDefaultSorter>
        </th>
        <th style="width: 25%">
          <mfDefaultSorter by="CREATED">Dates</mfDefaultSorter>
        </th>
      </tr>
      <tr>
        <th colspan="7">
          Filter by Description:
          <input class="form-control" [(ngModel)]="filterQuery" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data; let i = index">
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            </button>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/auth/datamgmtmenu/user/edit/',item.ID]">Full Edit</a></li>
              <li *ngIf="item.ISACTIVE"><a (click)='deactivateUser(item)'>De-Activate</a></li>
              <li *ngIf="!item.ISACTIVE"><a (click)='activateUser(item)'>Activate</a></li>
              <li *ngIf="item.ISDELETED"><a (click)='logicalUndeleteUser(item)'>Un-Delete</a></li>
              <li *ngIf="!item.ISDELETED"><a (click)='logicalDeleteUser(item)'>Delete</a></li>
            </ul>
          </div>
        </td>
        <td>
          <ang2-crm-activestatuslabel [activestatus]="item.ISACTIVE" [deletedstatus]="item.ISDELETED"></ang2-crm-activestatuslabel>
        </td>
        <td>{{item.USERNAME}}</td>
        <td>{{item.FNAME}}</td>
        <td>{{item.LNAME}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              M: {{ item.MODIFIED | timedate: 'short' }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">C: {{ item.CREATED | timedate: 'short' }}</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,25,50]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<ang2-crm-error-message [i_error]="errorMessage" [i_username]="errorUser" [i_screen]="errorScreen" [i_action]="errorAction"></ang2-crm-error-message>
<button id="openModalErrorMessageButton" [hidden]="true" data-toggle="modal" data-target="#modalErrorMessage">Open Error Message Modal</button>