<p-growl [value]="msgs"></p-growl>
<div class="row">
    <div class="col-md-12">
        <h1 style="display: inline-block;">List of Projects and Tasks (copied from Tags currently)</h1>
    </div>
</div>
<p-dialog #dialogRowAction header="{{actionTitle}}" [(visible)]="display" appendTo="body" [modal]="true" [width]="320">
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tr>
                <td>
                    {{actionDescription | texttoellipses: 120}}
                </td>
            </tr>
        </table>
    </div>
    <div class="box-body no-padding">
        <table class="table table-condensed">
            <tr>
                <th style="width: 10px"></th>
                <th>Function</th>
            </tr>
            <tr>
                <td><button pTooltip="Add New" tooltipPosition="top"  type="button" pButton icon="fa-plus-square"  class="ui-button-info bg-purple"></button>
                </td>
                <td>Complete and Close</td>
            </tr>
            <tr>
                <td><button pTooltip="Add New" tooltipPosition="top"  type="button" pButton icon="fa-plus-square"  class="ui-button-info bg-purple"></button>
                </td>
                <td>Edit</td>
            </tr>
            <tr>
                <td><button pTooltip="Add New" tooltipPosition="top"  type="button" pButton icon="fa-plus-square"  class="ui-button-info bg-purple"></button>
                </td>
                <td>Close with conditions</td>
            </tr>
            <tr>
                <td><button pTooltip="Add New" tooltipPosition="top"  type="button" pButton icon="fa-plus-square"  class="ui-button-info bg-purple"></button>
                </td>
                <td>Add Subtask</td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
   
</p-dialog>
<p-dataTable [value]="data" expandableRows="true" [resizableColumns]="true" [rows]="5" [paginator]="true">
    <p-header>
      <div class="ui-helper-clearfix" style="">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4 " style="text-align:left">
                  <button pTooltip="Refresh List" tooltipPosition="top" type="button" (click)="refreshNow();" pButton icon="fa-refresh" class="ui-button-info bg-maroon"></button>
                  <button pTooltip="Add New" tooltipPosition="top"  type="button" (click)="createProject();" pButton icon="fa-plus-square"  class="ui-button-info bg-purple"></button>
                  
                </div>
                <div class="ui-grid-col-4" style="text-align:center">
                  List of Tasks
                </div>
                <div class="ui-grid-col-4" style="text-align:right">
                  Last Refreshed On: 
                </div>
            </div>
      </div>
      
    </p-header>
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'3%'}">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-data="rowData" pTemplate="body">
            <button type="text" (click)="showDialog(data)" pButton icon="fa-external-link-square"></button>
            
        </ng-template>

    </p-column>
    <p-column field="PROJECTTYPEID" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'6%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Project / Task / SubTask" tooltipPosition="top">Type</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-projecttypedropdownwidget [itemid]="data.ID" [itemtype]="'Project'" [projecttypeid]="data.PROJECTTYPEID"></ang2-crm-projecttypedropdownwidget>
        </ng-template>   
    </p-column>
    <p-column field="PRIORITYID" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'8%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance" tooltipPosition="top">Priority</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-prioritydropdownwidget [itemid]="data.ID" [itemtype]="'Project'" [priorityid]="data.PRIORITYID"></ang2-crm-prioritydropdownwidget>
        </ng-template>   
    </p-column>
    <p-column field="TIER" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'5%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Tier 1-4" tooltipPosition="top">Severity</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
        <ang2-crm-severitydropdownwidget [itemid]="data.id" [itemtype]="'Project'" [tierid]="data.TIER"></ang2-crm-severitydropdownwidget>
      </ng-template>   
    </p-column>
    <p-column field="STATUS" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'10%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">Status</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-statuswidget   [itemid]="data.ID"  [itemtype]="'Project'" [statusid]="data.STATUSID" ></ang2-crm-statuswidget>          
        </ng-template>   
    </p-column>
    <p-column field="DESCRIPTION" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'30%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">Description</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-recurringprojectwidget [isThisProjectRecurring]="data.RECURRING"></ang2-crm-recurringprojectwidget>
            <ang2-crm-dueinwidget [DueTimeDate]="data.DUEDATE"></ang2-crm-dueinwidget>
            {{data.DESCRIPTION | texttoellipses:'40' }}        
        </ng-template>   
    </p-column>
    <p-column field="ASSIGNEDTO" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'10%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">AssignedTo</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-userprofilelabel></ang2-crm-userprofilelabel>          
        </ng-template>   
    </p-column>
      <ng-template let-data pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:14px;padding:20px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4" style="text-align:left">
                    <div class="ui-grid-col-4">Assigned To:</div><div class="ui-grid-col-8"><ang2-crm-userprofilelabel></ang2-crm-userprofilelabel></div>
                    <div class="ui-grid-row"><div class="ui-grid-col-4">Created By:</div><div class="ui-grid-col-8"><ang2-crm-userprofilelabel></ang2-crm-userprofilelabel></div></div>
                    <div class="ui-grid-row"><div class="ui-grid-col-4">Recurring:</div><div class="ui-grid-col-8">{{data.RECURRING}}</div></div>
                </div>
                <div class="ui-grid-col-8" style="text-align:left">
                    <div class="ui-grid-row"><div class="ui-grid-col-4">Due On:</div><div class="ui-grid-col-8">{{data.DUEDATE | timedate: 'medium' }}</div></div>
                    <div class="ui-grid-row"><div class="ui-grid-col-4">Created On:</div><div class="ui-grid-col-8">{{data.CREATED | timedate: 'medium' }}</div></div>
                    <div class="ui-grid-row"><div class="ui-grid-col-4"></div><div class="ui-grid-col-8"></div></div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="text-align:left">
                    <div class="ui-grid-row"><div class="ui-grid-col-12">Description:</div></div>
                    <div class="ui-grid-row"><div class="ui-grid-col-12" style="width: 250px; display: block;">
                        <!-- <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> -->
                     </div></div>
                </div>
            </div>
                      
        </div>

            <p class="descriptiontext">{{data.DESCRIPTION | texttoellipses: 240}}</p>

        <div *ngIf="subtaskslist">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:14px;padding:20px">
            <div class="ui-grid-row">X / Y Tasks Completed.</div>
          </div>
          <p-dataTable [value]="rowexpanded" [rows]="3" [paginator]="true"> 
            <p-column field="col1" header="Col1" [style]="{'width':'5%'}"></p-column>
            <p-column field="col2" header="Col2"></p-column>
            <p-column field="col3" header="Col3"></p-column>
          </p-dataTable>
        </div> 
      </ng-template>
</p-dataTable>