<p-growl [value]="msgs"></p-growl>

<p-dataTable [value]="cars">
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
</p-dataTable>

<hr />

<p-dataTable [value]="cars" expandableRows="true" [resizableColumns]="true" [rows]="5" [paginator]="true">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'5%'}"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'5%'}">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">
            <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
        </ng-template>
    </p-column>
    <p-column field="vin" header="Vin" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains">
      <ng-template pTemplate="header">
            <small pTooltip="Project / Task / SubTask">Type</small>
      </ng-template>
      <ng-template let-car="rowData" pTemplate="body">
            {{car.vin}}
        </ng-template>   
    </p-column>
    <p-column field="year" header="Year" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="brand" header="Brand" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="color" header="Color" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">
            <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
        </ng-template>
    </p-column>
      <ng-template let-car pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3" style="text-align:center">
                    Left Grid... (small)
                    <!-- <i class="fa fa-search" style="cursor:pointer;float:left;margin-top:40px"></i> -->
                </div>
                <div class="ui-grid-col-9">
                  Right Grid... (large)
                    <!-- <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label">Vin: </div>
                            <div class="ui-grid-col-10">{{car.vin}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label">Year: </div>
                            <div class="ui-grid-col-10">{{car.year}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label">Brand: </div>
                            <div class="ui-grid-col-10">{{car.brand}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2 label">Color: </div>
                            <div class="ui-grid-col-10">{{car.color}}</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <p-dataTable [value]="rowexpanded">
          <p-column field="col1" header="Col1" [style]="{'width':'5%'}"></p-column>
          <p-column field="col2" header="Col2"></p-column>
          <p-column field="col3" header="Col3"></p-column>
        </p-dataTable> 
      </ng-template>
</p-dataTable>


<hr />

<p-dataTable [value]="data" expandableRows="true" [resizableColumns]="true" [rows]="5" [paginator]="true">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'3%'}">
        <ng-template pTemplate="header">
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">
            <button type="button" pButton icon="fa-search"></button>
        </ng-template>
    </p-column>
    <p-column field="PROJECTTYPEID" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'6%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Project / Task / SubTask">Type</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-projecttypedropdownwidget [itemid]="data.ID" [itemtype]="'Project'" [projecttypeid]="data.PROJECTTYPEID"></ang2-crm-projecttypedropdownwidget>
        </ng-template>   
    </p-column>
    <p-column field="PRIORITYID" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'8%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">Priority</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-prioritydropdownwidget [itemid]="data.ID" [itemtype]="'Project'" [priorityid]="data.PRIORITYID"></ang2-crm-prioritydropdownwidget>
        </ng-template>   
    </p-column>
    <p-column field="TIER" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'5%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Tier 1-4">Severity</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
        <ang2-crm-severitydropdownwidget [itemid]="data.id" [itemtype]="'Project'" [tierid]="data.TIER"></ang2-crm-severitydropdownwidget>
      </ng-template>   
    </p-column>
    <p-column field="STATUS" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'10%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">Status</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-statuswidget   [itemid]="data.ID"  [itemtype]="'Project'" [statusid]="data.STATUSID" ></ang2-crm-statuswidget>          
        </ng-template>   
    </p-column>
    <p-column field="DESCRIPTION" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'35%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">Description</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-recurringprojectwidget [isThisProjectRecurring]="data.RECURRING"></ang2-crm-recurringprojectwidget>
            <ang2-crm-dueinwidget [DueTimeDate]="data.DUEDATE"></ang2-crm-dueinwidget>
            {{data.DESCRIPTION}}        
        </ng-template>   
    </p-column>
    <p-column field="ASSIGNEDTO" [filter]="true" filterPlaceholder="Contains" filterMatchMode="contains" [style]="{'width':'8%'}">
      <ng-template pTemplate="header">
            <small pTooltip="Priority based on importance">AssignedTo</small>
      </ng-template>
      <ng-template let-data="rowData" pTemplate="body">
            <ang2-crm-userprofilelabel></ang2-crm-userprofilelabel>          
        </ng-template>   
    </p-column>
      <ng-template let-car pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3" style="text-align:center">
                    Put minor details.
                </div>
                <div class="ui-grid-col-9">
                  Put more details
                    
                </div>
            </div>
        </div>
        <p-dataTable [value]="rowexpanded">
          <p-column field="col1" header="Col1" [style]="{'width':'5%'}"></p-column>
          <p-column field="col2" header="Col2"></p-column>
          <p-column field="col3" header="Col3"></p-column>
        </p-dataTable> 
      </ng-template>
</p-dataTable>