<h3>Scratch Page</h3>
<p>Just need a place to try things out without having to create a new view every time!</p>
<hr />
<h4>Button that disables a div (to be used for Login Window and disabling while waiting for response)</h4>

<div class="row">
   
    <div id="divtodisable" class="col-lg-3 col-xs-6">
        <!-- small box -->
        
        <div class="small-box bg-aqua">        
          <div *ngIf="addOverlayDivBox" id="divtodisabledivboxoverlay" >
              <div id="waiticon"><i class="fa fa-refresh fa-spin fa-3x"></i></div>
          </div>
          <div class="inner">
              <h3><a href="#">150</a></h3>

              <p>Messages</p>
          </div>
          <div class="icon">
              <i class="fa fa-envelope"></i>
          </div>        
        <a (click)="disableDiv('divtodisabledivboxoverlay')" class="small-box-footer">Click to Disable / Enable <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        
    </div>
        
</div>
<p>Need to figure out how to center the spinning arrows</p>
<hr />

<h4>Locking Submit button and input fields after click</h4>
<p>Would be useful for login windows to ensure not receiving multiple login attempts</p>
<div class="row">
   
   <div class="col-lg-3 col-xs-6">

   <h2>Login Form</h2>
    <!--Original: <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">-->
    <form [formGroup]="loginForm" (ngSubmit)="submitFormClean(loginForm.value)">
      <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
        <label>Login:</label>
        <input class="form-control" type="text" placeholder="admin" [formControl]="loginForm.controls['username']" [readonly]='toggleSubmit'>
        <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger" >Username Required.</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
        <label>Password:</label>
        <input class="form-control" type="password" placeholder="password" [formControl]="loginForm.controls['password']" [readonly]='toggleSubmit'>
        <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Password Required.</div>
        <div *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" class="alert alert-danger">Password is a minimum 5 characters.</div>
        <div *ngIf="loginForm.controls['password'].hasError('maxlength') && loginForm.controls['password'].touched" class="alert alert-danger">Password is a maximum 16 characters.</div>

      </div>
      <div class="form-group">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button> -->
        <button type="submit" class="btn btn-primary" id="submitButton" [disabled]='toggleSubmit'><i class="fa fa-lock" *ngIf="lockLogin"></i>Submit</button>
        <div *ngIf="authenticated === false" class="alert alert-danger">Login Failed.</div>
      </div>
      <div class="form-group">u: admin | password: pword</div>
    </form> 
    </div>    
</div>

<hr />
<h4>Modal Help Button</h4>
<p>A help button that passes an ID to get modal window with help text re: the ID passed.</p>

<ang2-crm-help-screen [helpID]='1'></ang2-crm-help-screen>

<hr />
<h4>#NOT DONE Loading Spinner for date / time in header bar</h4>
<p>An example of showing a loading spinner while getting info from an http service </p>


    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            {{ currentDateTime | date:'EEE MMM d, h:mm:ss a' }}
        </div>
        <div *ngSwitchCase="true">
            <!-- markup for your spinner -->
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>

<hr />
<h4>Hover Help Example</h4>
<p>For input fields, show a hover over the label so that users can understand what they are required to enter</p>
<p>Ended up using ngx-boostrap and putting the hover in the font awesome icon</p>

<div class="row">
   
   <div class="col-lg-6 col-xs-6">
      <div class="modal-body">

        <form class="form-horizontal" role="form">
          <!-- Input addon -->
          <div class="box box-info">
            <div class="box-header with-border">
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-question-circle-o" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></i>&nbsp; Hover on box example</span>
                    <input type="text" class="form-control" placeholder="Hover on box example">
                  </div>
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </form>
      </div>
   </div>
</div>

<hr />
<h4>#NOT DONE Tag Input box</h4>
<p>A box that lets you enter many existing tags. Looked to Stack Overflow implementation on how this can work</p>

<div class="row">
   
   <div class="col-lg-6 col-xs-6">
      <div class="modal-body">

        <form class="form-horizontal" role="form">
          <!-- Input addon -->
          <div class="box box-info">
            <div class="box-header with-border">
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tags"></i>Add Tags</span>
                    <input type="text" class="form-control" placeholder="Tags">
                  </div>
                </div>
              </div>
              <!-- /input-group -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </form>
      </div>
   </div>
</div>

