<h1>Tags Dashboard</h1>
<hr />
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Recent Tags History</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-success">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-primary">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="label label-danger">Denied</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    <hr />

<div class="row">

  <div class="col-md-3">
        <a [routerLink]="['listtags']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">List Tags</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a [routerLink]="['/auth/createtag']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Create a Tag</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>
  
    <div class="col-md-3">
        <a [routerLink]="['edittag',10026]">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-pencil-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Edit a Tag</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>
    

    <div class="col-md-3">
        <a [routerLink]="['deletetag',10037]">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-user-times"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Delete a Tag</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

</div>