<h1>Project Dashboard</h1>
<p>List all of the projects that are currently active</p>
<hr>
<div class="row">
    <div class="col-md-2">Priority</div>
    <div class="col-md-6">Text</div>
    <div class="col-md-4">Due</div>
</div>
<div class="row">
    <div class="col-md-2">5</div>
    <div class="col-md-6"><a [routerLink]="['/project']">Create Project Module</a></div>
    <div class="col-md-4">@09-30-2016T2PM</div>
</div>
<div class="row">
    <div class="col-md-2">4</div>
    <div class="col-md-6">Create User Login</div>
    <div class="col-md-4">No Due date</div>
</div>
<div class="row">
    <div class="col-md-2">4</div>
    <div class="col-md-6">Create User security function</div>
    <div class="col-md-4">@09-30-2016</div>
</div>
<div class="row">
    <div class="col-md-2">0</div>
    <div class="col-md-6">Research Grid</div>
    <div class="col-md-4">No Due date</div>
</div>
<div class="row">
    <div class="col-md-2">-1</div>
    <div class="col-md-6">Documentation</div>
    <div class="col-md-4">No Due date</div>
</div>