<div class="card">

    <div class="toppart">
      <img alt="User Image" class="img-circle" src="/assets/sampleimages/Yoda160.jpg">
      <h1 class="name">The Yoda</h1>
      <p class="title">Administrator</p>
    </div>
    <div class="bottompart">
      <p class="taskdetails">Task: The task you clicked on with this users name on it. Putting a little more text here to see how the widget handles a lot of text</p>
      <a class="btn btn-default btn-flat" href="#"><i class="fa fa-minus-square"></i> Unassign</a>
      <a class="btn btn-default btn-flat" href="#"><i class="fa fa-comment"></i> Message</a>
      <a class="btn btn-default btn-flat" href="#"><i class="fa fa-check-square"></i> View Tasks</a> 
    </div>
</div>