<!-- Modal -->
<div class="modal fade" id="modalQuickSale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
				<h4 class="modal-title" id="myModalLabel">
					Quick Sale (Client: ##ENTER CLIENT CODE HERE##)
				</h4>
				<!-- TABLE: ClientInfo -->
				<!--<ang2-crm-salesclientinfoheader></ang2-crm-salesclientinfoheader>-->	
				<ang2-crm-salesheadertab></ang2-crm-salesheadertab>			
			</div>
			
			<!-- Modal Body -->
			<div class="modal-body">

				<form class="form-horizontal" role="form">
					<!-- Input addon -->
					<div class="box box-info">
						<div class="box-header with-border">
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<span class="input-group-addon">Create a form</span>
										<input type="text" class="form-control" placeholder="Username">
									</div>
								</div>
							</div>
							<!-- /input-group -->
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</form>
			</div>
			<div class="modal-footer">
				<!-- TABLE: SalesInfo -->
				<!-- <ang2-crm-salesinfoheader></ang2-crm-salesinfoheader> -->
			</div>
			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
				<button type="button" class="btn btn-primary">
                    Save changes
                </button>
			</div>
		</div>
	</div>
</div>