<h1>Code Snippets</h1>
<p>List all of the components I have completed.</p>

<hr>
<!-- Hard Drive Info -->
<ang2-crm-info-box-hdd-info></ang2-crm-info-box-hdd-info>
<p class="lead">Markup for Info Box: Database Size</p>
<pre class="prettyprint">
  <code class="lang-html">
&lt;!-- Hard Drive Info --&gt;
&lt;ang2-crm-info-box-hdd-info&gt;&lt;/ang2-crm-info-box-hdd-info&gt;
  </code>
</pre>
<hr />

<!-- Database Size -->
<ang2-crm-info-box-db-size></ang2-crm-info-box-db-size>
<p class="lead">Markup for Info Box: Database Size</p>
<pre class="prettyprint">
  <code class="lang-html">
&lt;!-- Database Size --&gt;
&lt;ang2-crm-info-box-database-size&gt;&lt;/ang2-crm-info-box-database-size&gt;
  </code>
</pre>