<h1>List of Tags</h1>
<hr />
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Function</th>
      <th>Active</th>
      <th>Tag</th>
      <th>Description</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tag of tags">
      <th scope="row">{{tag.ID}}</th>
      <td>
        <a [routerLink]="['/deletetag',tag.ID]" class="btn btn-social-icon btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-times"></i></a>
        <a [routerLink]="['/edittag',tag.ID]" class="btn btn-social-icon btn-info" data-toggle="tooltip" title="Edit"><i class="fa fa-eye"></i></a>
      </td>
      <td>
        <input type="checkbox" disabled [(ngModel)]="tag.ISACTIVE" />
      </td>
      <td>{{tag.TAG}}</td>
      <td>{{tag.DESCRIPTION}}</td>
      <td>{{tag.CREATED}}</td>
      <td>{{tag.MODIFIED}}</td>
    </tr>      
  </tbody>
</table>
