<div class="jumbotron">
    <h2>Login Form</h2>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['login'].valid && complexForm.controls['login'].touched}">
        <label>Login:</label>
        <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['login']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['login'].hasError('required') && complexForm.controls['login'].touched" class="alert alert-danger">Login required.</div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
        <label>Password:</label>
        <input class="form-control" type="text" placeholder="Doe" [formControl]="complexForm.controls['password']">
        <!-- The hasError method can work with the built in validators but custom validators as well -->
        <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">Password required.</div>
        <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your password must be at least 5 characters long.</div>
        <div *ngIf="complexForm.controls['password'].hasError('maxlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your password cannot exceed 16 characters.</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
      </div>
    </form>
  </div>