<h1>Project Dashboard</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <a [routerLink]="['../createproject']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Create Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Delete Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-list-ol"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Project / Task List</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-pencil-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Edit Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>
</div>
<hr />
<p>List all of the projects that are currently active</p>
<hr>
<!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-clipboard"></i>

              <h3 class="box-title">Active Projects</h3>

              <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="todo-list">
                <li>
                    <h4>Title of the Project goes here.</h4>
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    
                    

                  <!-- tier button -->
                  <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-fire"></i>Tier 4</button>
                                    
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>

                  <!-- Tools -->
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>
                
                <li>
                    <h4>Title of the Project goes here.</h4> 
                    
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
<span data-toggle="tooltip" title="Perpetual: Project cannot be completed" class="badge bg-success"><i class="fa fa-refresh"></i></span>
                  <!-- tier button -->
                  <button type="button" class="btn btn-xs"><i class="fa fa-info-circle"></i>Tier 0</button>
                  <!-- todo text -->
                                   
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>

                  <!-- Tools -->

                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>

                <li>
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
                    

                  <!-- tier button -->
                  <button type="button" class="btn btn-warning btn-xs"><i class="fa fa-hand-stop-o"></i>Tier 3</button>
                  <!-- todo text -->
                  <span class="text">Design a nice theme</span>                  
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>

                  <!-- Tools -->

                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>

                <li>
                    <h4>Title of the Project goes here.</h4> 
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>

                  <!-- tier button -->
                  <button type="button" class="btn btn-info btn-xs"><i class="fa fa-hand-peace-o"></i>Tier 2</button>
                  <!-- todo text -->
                  <span class="text">Design a nice theme</span>                  
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>

                  <!-- Tools -->

                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>

                <li>
                    <h4>Title of the Project goes here.</h4> 
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>

                  <!-- tier button -->
                  <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-hand-o-up"></i>Tier 1</button>
                  <!-- todo text -->
                  <span class="text">Design a nice theme</span>                  
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>
                  <!-- Tools -->

                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>

                <li>
                    <h4>Title of the Project goes here.</h4> 
                  <!-- drag handle -->
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>

                  <!-- tier button -->
                  <button type="button" class="btn btn-xs"><i class="fa fa-info-circle"></i>Tier 0</button>
                  <!-- todo text -->
                  <span class="text">Design a nice theme</span>                  
                  
                  <!-- Emphasis label -->                  
                  <span data-toggle="tooltip" title="Due in 2 minutes" class="badge bg-red"><i class="fa fa-hourglass-end"></i> 2 mins</span>
                  <span data-toggle="tooltip" title="Created On: Fri Sep 23, 2016 @ 3:14 PM" class="badge bg-gray"><i class="fa fa-calendar"></i>Fri Sep 23, 2016</span>                  
                  <span data-toggle="tooltip" title="Created By: User Name" class="badge bg-primary"><i class="fa fa-user"></i>User Name</span>

                  <!-- Tools -->

                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-check-circle-o"></i>Go To Tasks</button>
                    <button type="button" class="btn btn-info btn-xs"><i class="fa fa-edit"></i>Edit Project Details</button>
                    <button type="button" class="btn btn-success btn-xs"><i class="fa fa-tag"></i>Tag</button>                  
                    <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>Delete</button>

                </li>

                

                

              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
            </div>
          </div>
          <!-- /.box -->
