/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~normalize.css/normalize.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/primeng.min.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

span.input-group-addon.has-error {
  border-left: 5px solid #a94442;
}

label.formLabel {
  padding-top: 15px;
}

p-calendar {
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;
}
