<!-- TABLE: Software Licenses -->
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Software Licenses</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Issue Date</th>
						<th>Software</th>
            <th>Key Assigned</th>
						<th>Type</th>
						<th>Expiry Date</th>
            <th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Jan 1, 2017</td>
            <td>Beauty</td>
						<td><a href="pages/examples/invoice.html">F0123456789A</a></td>
						<td>Perm</td>
						<td>Mar 15, 2017</td>
            <td>Active</td>
						<td>
							Place buttons here
						</td>
					</tr>
					<tr>
						<td>Jan 1, 2017</td>
            <td>Beauty</td>
						<td><a href="pages/examples/invoice.html">F0123456789A</a></td>
						<td>Perm</td>
						<td>Mar 15, 2017</td>
            <td>Active</td>
						<td>
							Place buttons here
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.box-body -->
	<div class="box-footer clearfix">
		<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Issue New License</a>
		<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Licenses</a>
	</div>
</div>