<!-- Custom Tabs -->
<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_supporttickets" data-toggle="tab">Support Tickets</a></li>
		<li><a href="#tab_onlinebooking" data-toggle="tab">Online Booking</a></li>
    <li><a href="#tab_mobileapp" data-toggle="tab">Mobile App</a></li>
		<li><a href="#tab_textmessaging" data-toggle="tab">Text Messaging</a></li>
		<li><a href="#tab_remoteaccess" data-toggle="tab">Remote Access</a></li>
		<li><a href="#tab_networkenvironment" data-toggle="tab">Network Environment</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Action <span class="caret"></span>
      </a>
			<ul class="dropdown-menu">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Support Ticket</a></li>
			</ul>
		</li>
		<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
	</ul>
	<div class="tab-content">
		<!-- /.tab-pane -->
		<div class="tab-pane" id="tab_supporttickets">
		  <ang2-crm-clientsupporttickets></ang2-crm-clientsupporttickets>

		</div>
		<!-- /.tab-pane -->
		<div class="tab-pane" id="tab_onlinebooking">
			Online Booking
		</div>
    <!-- /.tab-pane -->
		<div class="tab-pane" id="tab_mobileapp">
			Mobile App
		</div>
    <!-- /.tab-pane -->
		<div class="tab-pane" id="tab_textmessaging">
			Text Messaging
		</div>
    <!-- /.tab-pane -->
		<div class="tab-pane" id="tab_remoteaccess">
			Remote Access
		</div>
    <!-- /.tab-pane -->
		<div class="tab-pane" id="tab_networkenvironment">
			Network Environment
		</div>
	</div>
	<!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->