<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Points of Contact</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
  <div class="box-body">
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Main <i class="fa fa-phone"></i></span>
        <input type="text" class="form-control" placeholder="Main Phone Number">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Alt <i class="fa fa-phone"></i></span>
        <input type="text" class="form-control" placeholder="Alt Phone Number">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Main <i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Main Email">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Alt <i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Alt Number">
      </div>
    </div>
  </div>
</div>