<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Key Stats</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
  <div class="box-body">
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Client Created On"><i class="fa fa-calendar-plus-o"></i></span>
        <input type="text" class="form-control" placeholder="Created On">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Total Dollars Spent on Software"><i class="fa fa-dollar"></i></span>
        <input type="text" class="form-control" placeholder="Software $">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Total Dollars Spent on Monthly Support"><i class="fa fa-money"></i></span>
        <input type="text" class="form-control" placeholder="Support $">
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Client On Support?"><i class="fa fa-file-text-o"></i></span>
        <input type="text" class="form-control" placeholder="Yes / No">
      </div>
    </div>

    <hr />

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Latest Mood"><i class="fa fa-smile-o"></i></span>
        <input type="text" class="form-control" placeholder="Latest Mood">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Avg Calls Per Month"><i class="fa fa-phone"></i>/<i class="fa fa-calendar"></i></span>
        <input type="text" class="form-control" placeholder="Avg Calls / Month">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Last Ticket ID"><i class="fa fa-ticket"></i></span>
        <input type="text" class="form-control" placeholder="Last Ticket ID">
      </div>
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" title="Heads Up Note"><i class="fa fa-warning"></i></span>
        <input type="text" class="form-control" placeholder="Heads Up Note">
      </div>
    </div>
  </div>
</div>