<!-- TABLE: People -->
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Active People</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Position</th>
            <th>Access Level</th>
            <th>PIN</th>
						<th>Email</th>
						<th>Phone1</th>
            <th>Phone2</th>
            <th>Created</th>
            <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
            <td>Joe</td>
            <td>Johnson</td>
            <td>Owner</td>
            <td>Full</td>
            <td>90210</td>
            <td>click for list of emails</td>
						<td>123 456 7890</td>
            <td>123 456 7890</td>
						<td>Mar 15, 2017</td>
						<td>
							Place buttons here
						</td>
					</tr>
						<tr>
            <td>Joe</td>
            <td>Johnson</td>
            <td>Owner</td>
            <td>Full</td>
            <td>90210</td>
            <td>click for list of emails</td>
						<td>123 456 7890</td>
            <td>123 456 7890</td>
						<td>Mar 15, 2017</td>
						<td>
							Place buttons here
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.box-body -->
	<div class="box-footer clearfix">
		<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Create New Contact Person</a>
		<a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All People</a>
	</div>
</div>

