<div class="row">
    <div class="col-md-3">
        <a [routerLink]="['../createproject']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-plus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Create Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="#">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-minus-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Delete Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a [routerLink]="['listprojects']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-list-ol"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Project / Task List</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>

    <div class="col-md-3">
        <a [routerLink]="['../editproject']">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-pencil-square"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Edit Project</span>        
            </div>
        <!-- /.info-box-content -->
        </div>
        </a>
    </div>
</div>