<h1>Dashboard</h1>
<div class="grid">
    <div class="row cells3">
        <div class="cell">
            <div class="panel" data-role="panel">
                <div class="heading">
                    <span class="icon mif-home"></span>
                    <span class="title">Panel Title</span>
                </div>
                <div class="content">
                    Here is some text yaya
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel" data-role="panel">
                <div class="heading">
                    <span class="icon mif-home"></span>
                    <span class="title">Panel Title</span>
                </div>
                <div class="content">
                    Here is some text yaya
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel" data-role="panel">
                <div class="heading">
                    <span class="icon mif-home"></span>
                    <span class="title">Panel Title</span>
                </div>
                <div class="content">
                    Here is some text yaya
                </div>
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <div class="darcula" data-role="calendar"></div>
        </div>
        <div class="cell">
            <div class="listview-outlook" data-role="listview">
                <div class="list-group">
                    <span class="list-group-toggle">Yesterday</span>
                    <div class="list-group-content">
                        <a class="list marked" href="#">
                            <div class="list-content">
                                <span class="list-title">subscribe@metroui.net</span>
                                <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                                <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                            </div>
                        </a>                        
                        <a class="list" href="#">
                            <div class="list-content">
                                <span class="list-title">subscribe@metroui.net</span>
                                <span class="list-subtitle">MetroUI: News on 26/10/2013</span>
                                <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="list-group collapsed">
                    <span class="list-group-toggle">Last 7 Days</span>
                    <div class="list-group-content">
                        <a class="list" href="#">
                            <div class="list-content">
                                <span class="list-title"><span class="place-right icon-flag-2 fg-red smaller"></span>subscribe@metroui.net</span>
                                <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                                <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                            </div>
                        </a>
                        <a class="list" href="#">
                            <div class="list-content">
                                <span class="list-title"><span class="place-right icon-flag-2 fg-green smaller"></span>subscribe@metroui.net</span>
                                <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                                <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                            </div>
                        </a>
                        <a class="list" href="#">
                            <div class="list-content">
                                <span class="list-title">subscribe@metroui.net</span>
                                <span class="list-subtitle"><span class="place-right">1:51</span>MetroUI: News on 26/10/2013</span>
                                <span class="list-remark">Hello friend! Newest for Metro UI CSS</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>