<a href="#">
<!-- /.info-box -->
<div class="info-box bg-navy">
  <span class="info-box-icon"><i class="fa fa-hdd-o"></i></span>

  <div class="info-box-content">
    <span class="info-box-text">Hard Drive Available Space</span>
    <span class="info-box-number">{{ AvailableSpaceValue }}</span>

    <div class="progress">
      <div class="progress-bar" style="width: 45%"></div>
    </div>
        <span class="progress-description">
          520 GB / 930 GB (available space out of disk capacity).          
        </span>
  </div>  
</div>
<!-- /.info-box-content -->
</a>
